body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header { 
    align-items: center;
    background: #f9f9f9;
    display: flex; 
    justify-content: space-between; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    position: fixed; 
    z-index: 2; 
    width: 100%; 
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    align-items: center;
    padding: 10px 150px;
}
#btn-li ul {
    display: flex;
    margin-left: 400px;
}

.items-menu {
    color:#141c3a;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
    white-space: nowrap;
}

a:hover {
    color: #6E07F3;
}

li {
    list-style-type: none;
  }

  nav img {
    width: 120px;
  }

#btn-li {
    display: flex;
}

.btn-primary {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #6E07F3;
    background-color: transparent;
    border-radius: 50px;
    border-color:#6E07F3;
    padding: 14px 25px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #6E07F3;
    color: white;
    transition: ease-in-out 0.4s;
}
.btn-primary a{
    text-decoration: none;
    color: #6E07F3;
}

.btn-secondary {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    border-color:#5BE9B9;
    padding: 15px 25px;
    cursor: pointer;
}
.btn-secondary:hover {
    transition: ease-in-out 0.4s;
    background-color: #5BE9B9;
    color: #141c3a;
}

#start h1 {
    color: #141c3a;
    font-weight: 800;
    font-size: 45px;
}

#start p {
    font-size: 25px;
    font-weight: 400;
}

#start {
    display: flex;
    padding-top: 160px;
    text-align: center;
}

.align-center {
    display: flex;
    justify-content: center;
}

#about-me {
    margin-top: -150px;
    background-color: #6E07F3;
    color: white;
    align-content: center;
}

#img-me {
    margin-top: -100px;
}

#about-me-inside {
    padding: 100px 400px;
    padding-bottom: 200px;
    text-align: center;
}

#about-me-inside p{
    font-size: 16px;
    line-height: 1.5;
}

#div-introdution {
    padding: 70px 140px;
    width: 50%;
}

#div-gif {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.icons-aboutme{
    width: 70px;
}

#habilities {
    background-color: white;
    display: flex;
    margin: -150px 100px;
    border-radius: 15px;
    height: 510px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.box-habilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #141c3a;
    padding: 30px 60px;
    height: 430px;
}

#box-center {
    border-right: 1px solid rgb(227, 227, 227);
    border-left: 1px solid rgb(227, 227, 227);
}

.box-habilities h4 {
    color: #6E07F3;
}

.box-habilities li {
    line-height: 1.5;
    margin-right: 35px;
}


#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.skill-box {
    height: 106px;
    width: 106px;
    background-color: #6E07F3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}
.skill-conteiner {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 50%;
}
.skill-conteiner-text {
    list-style: none;
    padding-left: 350px;
    padding-right: 350px;
    
}
.skill-box:hover {
    transform: scale(1.05);
}
.skill-icon {
    width: 60px;
}
.skill-box .skill-icon {
    transition: ease-in-out 0.3s;
}
.skill-box:hover .skill-icon {
    opacity: 0;
}
.skill1{
    background-image: url(./src/html.png);
    background-size: 58px;
}
.skill2{
    background-image: url(./src/java.png);
    background-size: 59px;
}
.skill3{
    background-image: url(./src/java-script.png);
    background-size: 59px;
}
.skill4{
    background-image: url(./src/angular.png);
    background-size: 59px;
}
.is-invisible {
    visibility: hidden;
}
.is-visible {
visibility: visible;
}
.visibility-off {
    display: none;
}



footer {
    background-color: #6E07F3;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#footer-informations {
    margin-top: 80px;
}

footer p{
    color: rgb(237, 237, 237);
    font-weight: 500;
    text-align: center;
}
footer h1 {
    color: white ;
}

.icon-footer {
    width: 80px;
    cursor: pointer;
}
.icon-footer:hover {
    transform: scale(1.2);
}
.is-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.start-box {
    height: 150px;
    width: 80%;
    margin-top: -150px;
    background-color: #141c3a;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
    color: #141c3a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
}



#project-title h1{
    text-align: center;
}
#project-title {
    padding-top: 100px;
    margin-top: -110px;
    background-color: #6E07F3;
    color: white;
    align-content: center;
    height: 280px;
}
.projects-call {
    margin-top: 200px;
}
#projects {
    margin-top: -250px;
}


.card {
    background-color: white;
    width: 370px;
    margin: auto;
    border-radius: 20px;
    /* box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8; */
    box-shadow: -20px 20px 20px -30px #6E07F3;
}
.card:hover {
    box-shadow: -30px 20px 20px -30px #6E07F3;
    transition: ease-in-out 0.4s;
}
.is-blur {
    filter: blur(4px);
}
.vertical-belt {
    margin-top: -200px;
    background-color: #705656;
    width: 500px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}
#profileimg {
    width: 70px;
    height: 55px;
    padding-left: 10px;
    border-radius: 50%;
    
}
#banner {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 0px;
}
.tags {
    color: rgb(118, 118, 255);
    padding-left: 10px;
    margin-bottom: 40px;
}
.card p, h2, h3 {
    padding-left: 10px;
    color: #465362;
}
.card h1 {
text-align: center;
}
.profile {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.followers {
    margin-top: -15px;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 110px;
}
.content {
margin-top: -15px;
}
#label1 {
    color: white;
    background-color: #13e813;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 800;
}
#label2 {
    color: white;
    background-color: #13e813;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 800;
}
#label3 {
    color: white;
    background-color: red;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 800;
    filter: blur(1px);
}
#label4{
    color: white;
    background-color: red;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 800;
    margin-left: 50px;
}
.labeldiv {
    padding-left: 10px;
}